/* general rules for teh whole page */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* header rules */

header {
  width: 100vw;
  height: 80vh;
  background-color: #0c325a;
  background-image: url(../img/background-header.png);
  background-size: cover;
  background-position: right;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 10px 0px 0px 0px;
}

#logo-pic {
  margin: 0px 50px 0px 0px;
}

/* navigation bars */

.navigation {
display: inline-block;
margin-left: 60px;
}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: inline;
  padding: 8px;
  margin: 0px 10px 0px 0px;
  font-size: small;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #FFFFFF;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

/* buttons in navigation bars */

#top-right-button1 {
  background-color: transparent;
  width: 80px;
  height: 40px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  border: 2px solid white;
  border-radius: 10px;
  position: relative;
  bottom: 8px;
}

#top-right-button2 {
  background-color: #7cbb02;
  width: 165px;
  height: 40px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  border: transparent;
  border-radius: 10px;
  position: relative;
  bottom: 10px;
  margin-left: 5px;
}

/* central text */

div > h1 {
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  position: relative;
  top: 100px;
}

#central-button {
  background-color: #7cbb02;
  width: 180px;
  height: 70px;
  text-align: center;
  font-size: 70%;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  border: transparent;
  border-radius: 10px;
  position: relative;
  top: 150px;
}

/* main - gray line */

section > .words-in-gray {
width: 100vw;
height: 30vh;
background-color: #d3d3d3;
font-family: 'Roboto', sans-serif;
text-align: center;
}

.words-in-gray > h2 {
position: relative;
top: 60px;
}

.words-in-gray > p {
  color: #808080;
  position: relative;
  top: 80px;
}

/* 3 pictures in line */

.box {
  display: inline;
  width: 5000px;
  height: 5000px;
  background-color: red;
}
